git+https://github.com/tqdm/tqdm.git@master#egg=tqdm
git+git://github.com/picklepete/pyicloud.git@9bb6d750662ce24c8febc94807ddbdcdf3cadaa2#egg=pyicloud
certifi==2020.11.8
chardet==3.0.4
Click==7.1.2
future==0.18.2
idna==2.10
keyring==8.7
keyrings.alt==4.0.1
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.0
six==1.15.0
tzlocal==2.1
urllib3==1.26.1
