certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
click==7.1.1
cryptography==36.0.1
future==0.18.2
idna==3.3
jeepney==0.7.1
keyring==9.3.1
keyrings.alt==3.2.0
Nuitka==0.6.19
pycparser==2.21
pyicloud==0.10.2
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
SecretStorage==3.3.1
six==1.16.0
tqdm==4.62.3
tzlocal==2.0.0
urllib3==1.26.8